/* LEFT -------------------------------------------------------------------------------------------------- */
.login-left--title {
    font-family: var(--global-head);
    font-weight: 700;
    font-size: 5em;
    color: var(--global-blue);
}

.login-left--label {
    font-family: var(--global-head);
    font-weight: 600;
    font-size: 1em;
    color: red;
}

/* RIGHT -------------------------------------------------------------------------------------------------- */

.hero {
    margin-top: 3em;
    border-radius: 30px;
}

.background {
    /* width: auto;
    height: auto; */
    /* width: 743px;
    height: 743px; */
    background: url(../public/assets/system/loginBackground.png);
}