.login {
    width: 100%;
    height: 100%;
    background-color: #ffff;
    align-items: center;
    justify-content: center;
}

.loginTop {
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.loginLeft {
    margin-left: 184px;
}

.title {
    font-family: "Acephimere";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    margin-right: 65px;
    color: #0e1952;
}

.form {
    width: 98px;
    height: 48px;
}

.label {
    font-family: "Acephimere";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 88px;
    color: #25b79d;
}

.input {
    width: 321px;
    height: 38px;
    background: transparent;
    border-width: 0 0 1.5px 0;
    border-color: #000000;
}

.loginButton {
    background: #0e1952;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
    width: 150%;
}

.loginText {
    /* width: 100%; */
    /* height: 26px; */
    font-family: "Acephimere";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
}

.background {
    width: 743px;
    height: 743px;
    background: url(../public/assets/system/loginBackground.png);
}

.choices {
    margin-top: 20px;
    width: 100%;
    /* display: flex; */
}.login {
    width: 100%;
    height: 100%;
    background-color: #ffff;
    align-items: center;
    justify-content: center;
}

.loginTop {
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.loginLeft {
    margin-left: 184px;
}

.title {
    font-family: "Acephimere";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    margin-right: 65px;
    color: #0e1952;
}

.form {
    width: 98px;
    height: 48px;
}

.label {
    font-family: "Acephimere";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 88px;
    color: #25b79d;
}

.input {
    width: 321px;
    height: 38px;
    background: transparent;
    border-width: 0 0 1.5px 0;
    border-color: #000000;
}

.loginButton {
    background: #0e1952;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
    width: 150%;
}

.loginText {
    /* width: 100%; */
    /* height: 26px; */
    font-family: "Acephimere";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
}

.background {
    width: 743px;
    height: 743px;
    background: url(../public/assets/system/loginBackground.png);
}

.choices {
    margin-top: 20px;
    width: 100%;
    /* display: flex; */
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.Homepage {
    min-height: 100vh;
    display: flex;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}