/* LEFT -------------------------------------------------------------------------------------------------- */
.login-left--title {
    font-family: var(--global-head);
    font-weight: 700;
    font-size: 5em;
    color: var(--global-blue);
}
/* RIGHT -------------------------------------------------------------------------------------------------- */

.hero{
    margin-top: 3em;
    border-radius: 30px;
}


