.navbarWrapper {
    background-color: #ffff;
    /* height: 190px; */
    /* replaced by the padding below */
    padding: 60px 0px;
    display: flex;
    width: 100%;
    align-items: center;
    /* position: sticky; */
    /* z-index: 999; */
    transition-duration: 0.3s;
}

.navLeft {
    flex: 8;
    display: flex;
    padding-left: 104px;
    align-items: center;
}

.navLeft:hover {
    filter: brightness(55%);
    border-radius: 20px;
    transition-duration: 0.3s;
}

.logoText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    color: var(--global-green);
}

.navCenter {
    display: flex;
    flex: 10;
}

.page {
    font-family: var(--global-head);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-left: 3em;
    color: #2d2d2d;
}

.page:hover {
    /* filter: brightness(55%); */
    background-color: gainsboro;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.navRight {
    flex: 3;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.navBtn {
    width: 8em;
    height: 2.5em;
    background: var(--global-blue);
    border-radius: 20px;
    margin-left: 2em;
    /* margin-right: 96px; */
}

.navBtn:hover {
    filter: brightness(55%);
    transition-duration: 0.3s;
}

.btnText {
    width: 68px;
    height: 26px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
}

.navAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.navAvatar:hover {
    filter: brightness(55%);
    transition-duration: 0.3s;
}

.navbar-bvbnd-logo-container {
    max-height: 50px;
    max-width: 50px;
    object-fit: cover;
}